matplotlib==3.8.4
numpy==1.26.4
pandas==2.2.2
pytorch-ignite==0.4.13
pytorch-lightning==2.2.0.post0
s3fs==2024.3.1
scipy==1.13.0
torch==2.1.2
torchaudio==2.1.2
torchcam==0.4.0
torchdata==0.7.1
torchinfo==1.8.0
torchmetrics==1.3.1
torchtext==0.16.2
torchvision==0.16.2
tqdm==4.66.2